.filterContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* When the screen is 600px wide or less */
@media (max-width: 600px) {
  .filterContainer {
    flex-direction: column; /* Stack the items */
    align-items: stretch; /* Make them full-width */
  }
}
