/* Styles for react-mentions */
.mentions {
  margin: 0;
}

.mentions__control {
  font-size: 14px;
  font-family: sans-serif;
}

.mentions__input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.mentions__suggestions__item {
  padding: 5px 15px;
}

.mentions__suggestions__item--focused {
  background-color: #eee;
}
